In [1]:
import pandas as pd

# Creare un DataFrame di esempio
data = {
    'Colonna1': [1, 2, 3, 4],
    'Colonna2': [5.1, 6.2, 7.3, 8.4],
    'Colonna3': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01'],
    'Colonna4': ['A', 'B', 'A', 'C'],
    'Colonna5': [True, False, True, False]
}

df = pd.DataFrame(data)
df

   Colonna1  Colonna2    Colonna3 Colonna4  Colonna5
0         1       5.1  2022-01-01        A      True
1         2       6.2  2022-02-01        B     False
2         3       7.3  2022-03-01        A      True
3         4       8.4  2022-04-01        C     False

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Colonna1  4 non-null      int64
 1   Colonna2  4 non-null      float64
 2   Colonna3  4 non-null      object
 3   Colonna4  4 non-null      object
 4   Colonna5  4 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 260.0+ bytes

In [ ]:
# 1. Convertire la Colonna1 da int a float

In [ ]:
# 2. Convertire la Colonna2 da float a int

In [ ]:
#datetime
# 3. Convertire la Colonna3 da stringa a data

In [ ]:
# 4. Convertire la Colonna3 da data a stringa

In [ ]:
#category
# 5. Convertire la Colonna4 da object a categoria

In [ ]:
# 6. Convertire la Colonna4 da categoria a object

In [ ]:
# 7. Convertire pi√π colonne contemporaneamente
#'Colonna1'float 'Colonna2'int 'Colonna4''category'

In [ ]:
# 8. Convertire tutti i tipi di dati del DataFrame in float

In [ ]:
# 9. Convertire la Colonna5 da booleana a intero

In [ ]:
# 10. Convertire la Colonna5 da intero a booleano